.container {
  width: 700px;
}
.nav__MobileMenu {
  display: none;
}
.nav__ul {
  margin-right: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainView {
  background-position-y: 230px;
}
.about {
  height: 500px;
  background-size: 50%;
  background-position: left;
}
.about__textContent {
  justify-content: flex-start;
}
.about__p {
  margin-top: 50px;
  width: 50%;
  align-self: flex-end;
}
.features {
  height: 100%;
}
.features__gridLayout {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 45px) calc(50% - 45px);
  grid-gap: 45px;
}
.features__featureListItem {
  position: relative;
  width: 330px;
}
.feature__buttons {
  display: none;
}

.testimonials {
  width: 100%;
}
.testimonials__wrapper {
  width: 2800px;
}
.testimonials__slider {
  width: 500px;
  justify-content: space-evenly;
}

.testimionials__Img {
  width: 130px;
}
.testimonials__sliderButtons {
  left: 5%;
  width: 90%;
}
.testiomonials__sliderDots {
  left: 42%;
}
.footer {
  width: 700px;
}
.footer__aboutSection {
  width: 200px;
}
.footer__helpSection {
  width: 200px;
}
.footer__socialSection {
  width: 200px;
}
