.container {
    width: 1120px;
    
}

.btn {
    font-size:16px;
    font-weight: 700;
    border:0;
    padding: 15px 15px;
    border-radius: 50px;


}

.btn--white {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #FFFFFF;
    color:var(--font-color2);
    transform: translate(-91%, -38%);
}
.btn--white img {
    margin-left:10px;
    vertical-align: middle;
    display:initial;
    transform: translate(-20%,-5%);
}


nav button {
    margin-left: 38.3%;
    
   
}
.navLinks {
    width: 53.7%;
}

.testimonials {
   
    width: 98%;
    height: 500px;
    
}
.containerForTestimonials {
   
    margin-top: 2%;
   
}

.footerSocial img {
   
    width: 25%;
}
footer {
    padding-bottom: 0px;
    width: 90%;
    margin: 0 auto;
}
.buttonsForTestimonials button {
font-size:40px;
}