.container {
    width: 1120px;
    
}

.btn {
    font-size:16px;
    font-weight: 700;
    border:0;
    padding: 15px 15px;
    border-radius: 50px;


}

.btn--white {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #FFFFFF;
    color:var(--font-color2);
}
.btn--white img {
    margin-left:10px;
    vertical-align: middle;
    display:initial;
}


nav button {
    margin-left: 38.3%;
    
   
}


