:root{
--font-color1:#212353;
--font-color2:#4B5D68;
--font-color3:#9C69E2;
--font-color4:#F063B8;
--font-color5:#68C9BA;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    margin-bottom: 300px;
    
}





h1 {
    font-weight:700;
    
}

.btn {
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 10px 10px;
    border-radius: 50px;


}

.btn--white {
    z-index:1200;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #FFFFFF;
    color:var(--font-color2);
    border: 2px solid #F063B8;
    
}
.btn--white img {
    margin-left:10px;
    vertical-align: middle;
    display:none;
}
.container {
    width: 95%;
    margin:0 auto;
}

nav .container {
    display:flex;
    align-items: center;
}
nav {
    margin-top:5%;
  
}

.requestButton {
    position: fixed;
    top: 91%;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 10px 9px;

    border-radius: 50px;
    z-index: 1200;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    background: #FFFFFF;
    color: var(--font-color2);
    border: 2px solid #F063B8;
}

.navLinks {
    
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 69%;
    top: 59px;
    background-color: var(--font-color3);
    border: 2px solid black;
    border-radius: 14px 0px 0px 14px;
    overflow: hidden;
   z-index:20000;
    
    

    
}
.translateMenu {
    transform: translate(95%);
   
}
#lastLink {
    border-bottom:0px;
}
.navLinks a {
    
    
    text-decoration: none;
    width: 93%;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 8px;

    
}


.navLinks .main {
color:white;;
font-weight:700;
}



.btn-violet {
    background-color:var(--font-color3);
    color:white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

}
.btnMenu {
    padding-top: 8px; 
    right: 26px;
    background: none;
    width: 48px;
    height: 37px;
    position: absolute;
    bottom: unset;
    border: none;
    
}
.btnMenu img {
    width:100%; 
    margin-right:10px;
    
}

.landingPage {
    
    
    background-size: 122%;
    min-height: 83vh;
    padding: 60px 0 100px 0;
    background-image: url(bg/LandingPage1.svg);
    background-repeat: no-repeat;
    background-position: 36% 82%;
}

.landingPage h1 {
    
    font-size:40px;
    color:var(--font-color1);
    line-height: 110%;
}

.landingPage p {
    margin:20px 0 ;

    font-weight: 500;
font-size: 18px;
line-height: 160%;
}

.about {
    padding: 30px;
    background: rgba(240, 99, 184, 0.15);
    background-image: url(img/image2.svg);
    background-repeat: no-repeat;
    border-radius: 50px;
    margin: 30px 0;
    background-position: 48% 13%;
    background-size: 80%;
    
}

.about h1 {
    text-align:center;
    font-size: 25px;
    color:var(--font-color1);
}

.about p {
    padding-top:220px;
    font-size:18px;
    line-height: 160%;
    color: #4B5D68;
    
}

.containerForSlides {
    width: 310px;
    height: 395px;
    overflow: hidden;
}

.features {
    margin-top:50px;

}

.features h1,h2 {
    text-align: center;
    color:var(--font-color1);
    
    margin:0 auto;
}

.features h1 {
    margin-bottom: 50px;
    font-size:40px;
    font-weight: 700;
   
}

.features h2 {
    font-size:20px;
    color: var(--font-color2);
    
    line-height: 150%;
    margin-bottom:70px;
}


.featureGrid {
   position: relative;
   width:100%;
}

.featureGrid p {
    font-size:16px;
    line-height: 160%;
}

.features h3 {
    margin-bottom:20px;
    text-align: left;
    font-size: 24px;
line-height: 130%;
color:var(--font-color1);
padding-top: 8px;
}

.featureGrid a {
    text-decoration: none;
    color:var(--font-color1);
    width: 127px;
    height: 26px;
    padding-bottom: 20px;
    
    font-weight: 700;
    position:absolute;
    bottom:9px;
    left:50%;

}
.buttons {
    
    display: flex;
    
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}
.buttons button {
 text-decoration:none;
 font-size:25px;
 background:none;
 border:1px dotted coral;
}
.buttons button:hover {
   cursor:pointer;
   }
    
.active {
    z-index:100;
}
.featureGrid a img {
    width: 20px;
height: 14px;
margin-left:18px;
vertical-align: middle;
}

.featureListItem {
    position: absolute;
    padding:10px 10px 10px 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%, 0% 50%;
    height: 360px;
    border-radius: 40px;
    
    


}
 .featureListItem--item1 {
     background-color:rgb(208, 247, 243);
     background-image: url(bg/bgfi1.svg);
     background-size: 50%;
    background-position: -1% 50%;
 }
 .featureListItem--item1 h3 {
     margin-left:-43%;
 }
 .featureListItem--item2 {
     background-color:rgb(236,225,250);
    background-image: url(bg/bgfi2.svg);
    background-size: 50%;
    background-position: -1% 50%;
}
.featureListItem--item2 h3 {
    margin-left:-59%;
}
.featureListItem--item3 {
    background-color:rgb(253,221,240);
    background-image: url(bg/bgfi3.svg);
    background-size: 50%;
    background-position: -1% 50%;
}
.featureListItem--item3 h3 {
    margin-left:-33%;
}
.featureListItem3_p {
    padding-top: 20%;

}
.featureListItem--item4 {
    background-color:rgb(234,246,252);
    background-image: url(bg/bgfi4.svg);
    background-size: 50%;
    background-position: -1% 50%;
    height: 360px;
}
.featureListItem--item4 h3 {
    margin-left:-50%;
}
.slideFromRight {
    animation-name: slideOutRight1;
    z-index:300;
    

}
.slideFromRight2 {
    animation-name:slideOutRight2;
}


.slideFromLeft {
    animation-name: slideOutLeft;
    z-index:300;
}

.slideFromLeft2 {
    animation-name: slideOutLeft2;
}

.closeMenu {
    animation-name:translateMenu_right;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}
.openMenu {
    animation-name:translateMenu_left;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}

.menu-container {
    margin-top: 0px;
    left: 65%;
    position: fixed;
    overflow: hidden;
    width: 38%;
    height: 206px;
    top: 10px;
    z-index:12000;
}

.testimonials {
    margin: 0 auto;
    width: 98%;
    height: 400px;
    background-color: var(--font-color3);
    border-radius: 10px;
}
.testimonials h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    padding-top: 10px;
    color:white;
}
.containerForTestimonials {
    
    width: 100%;
    height: 78%;
    margin-top: 5%;
    overflow: hidden;
}
    
.buttonsForTestimonials {
    display:flex;
    justify-content: space-around;

}
.sliderDotsContainer {
    
    display: flex;
    width: 16%;
    justify-content: space-between;
    align-items: center;
}

.sliderDot {
    width:6px;
    height:6px;
    background-color:white;
    border-radius: 50%;
}

.buttonsForTestimonials button {
    text-decoration:none;
    font-size:25px;
    background:none;
    border:1px dotted coral;
   }

.testimonialsFlex {
    display: flex;
    justify-content: space-around;
    width: 400%;
    height: 100%;
    overflow: hidden;
    transition-duration: 1s;
    animation-timing-function:ease-in-out;
    
}
.testimonialsSlider {
    width: 23%;
    height: 100%;
    background-color: white;
    border-radius: 20px;

}
.peopleDesc {
    width: 50%;
    float: right;
    margin-top: 55px;
}
.testimonialsFlex h4 {
    font-size: 23px;
    font-weight: 600;
    color: var(--font-color1);
    text-align:center;
}
.testimonialsFlex img {
    margin: 8% 0% 0% 8%;
    width: 38%;
    border-radius:50%;
}
.proffesion {
    color: var(--font-color3);
    text-align:center;
}
.peopleInfo {
    margin-top:20px;
    font-size: 18px;
    padding: 0 5px;
    text-align: justify;
  text-justify: inter-word;
}
.activeDot {
    background-color:var(--font-color4);
    width:7px;
    height:7px;
}

.displayNone {
    display:none;
    }

.testiomonialsSlider0 {
    transform:translate(0%);
}

.testiomonialsSlider1 {
    transform:translate(-25%);
}
.testiomonialsSlider2 {
    transform:translate(-50%);
}

.testiomonialsSlider3 {
    transform:translate(-75%);
}
.freebies {
    margin-top:20px;
}
.freebies h2 {
    text-align: center;
    font-size: 39px;
    padding-bottom: 20px;
    font-weight: 600;
}
.freebies {
    text-align:center;
}
.freebies button {
    background-color:var(--font-color4);
    color:white;
    margin-top: 23px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  .arrow{
    
    margin-left: 66%;
  
    margin-top: 5%;
   
    transform: translate(-50%,-50%);
  }
  .arrow span{
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid #06A8FF;
      border-right: 5px solid #06A8FF;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  .freebiesPar {
      padding-bottom:50px;
  }

  .companyInfo {
    grid-area: companyInfo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    height: 264px;
  }
  .footerGrid {
      display:grid;
      grid-template-areas: 
      "companyInfo companyInfo footerAbout footerHelp footerSocial"
      
  }
  .companyInfo {
      grid-area:companyInfo ;
  }
  .footerAbout {
    grid-area: footerAbout;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.footerHelp {
    grid-area: footerHelp;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
    .footerSocial {
        grid-area:footerSocial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footerSocial img {
        display:flex;
        align-items: center;
        margin:0 auto;
        padding:10px 0;
        width: 63%;
    }
    .footerSocial a {
        width: 50%;
       
        margin: 0 auto;
    }

footer {
    padding-bottom:100px;
    margin-top:50px;
}
.footerImgText {
    display:flex;
    align-items:center;
    justify-content: space-around;
    
    margin: 45px 0;

}
.footerImgText p {
    font-size:25px;
    font-weight: 600;
    color:var(--font-color1);
    
}
.rightsReserved {
    font-size:15px;
}


.localization {
    color: var(--font-color1);
    font-weight: 600;
    padding-top: 46px;
}


footer h3 {
    font-size: 20px;
    color: var(--font-color1);
    text-align: center;
}
footer a {
    text-decoration:none;
    color:var(--font-color1)
}

.btn-big {
    padding: 41px;
    font-size: 25px;
}

  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }

@keyframes translateMenu_right {
    0% {
        transform:translateX(0%)
    }
    100% {

        transform:translateX(101%)
    }
}
@keyframes translateMenu_left {
    0% {
        transform:translateX(101%)
    }
    100% {

        transform:translateX(0%)
    }
}


@keyframes slideOutRight1 {
    0% {
        transform:translateX(0%);
    }
   
    100% {
        transform:translateX(100%);
    }
}

@keyframes  slideOutRight2{
    0% {
        transform:translateX(100%);
    }
   
    100% {
        transform:translateX(0%);
    }
}


@keyframes slideOutLeft {
    0% {
        transform:translateX(0%);
    }
   
    100% {
        transform:translateX(-100%);
    }
}

@keyframes slideOutLeft2 {
    0% {
        transform:translateX(-100%);
    }
   
    100% {
        transform:translateX(0%);
    }
}